* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    font-family: Arial;
    background: hsla(177, 85%, 92%, 0.768);
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    gap: 40px;
}

table {
    border-collapse: collapse;
    background: rgb(151, 205, 210);
    margin: 40px auto;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 30px;
    font-size: 20px;
}

h1{
    font-size: 40px;
}
h3 {
    margin-top: 60px;
}

.grupoA th { background: #2e86de; color: white; }
.grupoB th { background: #e74c3c; color: white; }

.classificado {
    background: #38d65d !important;
}
caption{
    font-size: 35px;
}
input {
    width: 40px;
}

a {
    display: inline-block;
    margin: 10px;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: larger;    
}